.burger-btn {
    margin: 30px;
}

.line {
    width: 10px;
    height: 2px;
    background-color: black;
    margin: 3px;
}

.menu {
    width: 300px;
    border: 1px solid black;

    &-item {
        height: 80px;
        border: 1px solid black;
        box-sizing: border-box;
        border-collapse: collapse;
        text-align: center;
        line-height: 80px;
        background-color: aquamarine;
        font-size: 30px;
    }
}

